<template>
  <div class="container">
    <slot />
  </div>
</template>

<script>
</script>

<style>
.container {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 40px auto;
  padding: 0 32px;
  max-width: 1024px;
}
</style>
