<template>
  <v-form
    class="add-task"
    @submit.prevent
  >
    <v-text-field
      v-model="value"
      label="add task"
      solo-inverted
      autofocus
      class="v-text"
      @keyup.prevent.enter="handlerKeyEnter"
    />
    <v-btn
      large
      class="v-btn"
      @click="handlerKeyEnter"
    >
      ADD
    </v-btn>
  </v-form>
</template>

<script>
export default {
  name: 'InputField',
  data() {
    return {
      value: '',
    };
  },
  methods: {
    handlerKeyEnter() {
      this.$emit('add-todo', this.value);
      this.value = '';
    },
  },
};
</script>

<style>
.add-task {
  display: flex;
  height: 60px;
  align-items: baseline;
}
.v-btn {
width: 10%;
}
.v-text {
width: 90%;
}
</style>
