<template>
  <div class="todo">
    <v-checkbox
      value
      class="pa-0 ma-0"
    />
    <div
      v-if="!editing"
      class="title-task"
      @dblclick="handlerDblclick"
    >
      {{ getTitle }}
    </div>
    <input
      v-else
      id="input"
      :value="getTitle"
      class="edit-todo"
      @input="handlerInput"
      @keyup.enter="handlerSubmit"
      @blur="handlerSubmit"
    >
    <v-btn
      icon
      @click="removeTodo(todo)"
    >
      <v-icon>delete_forever</v-icon>
    </v-btn>
  </div>
</template>

<script>
export default {
  name: 'Item',
  props: {
    todo: {
      type: Object,
      default: () => ({}),
    },
    index: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      title: '',
      editing: false,
    };
  },
  computed: {
    id() {
      return this.todo.id || 0;
    },
    getTitle() {
      return this.todo.title || '';
    },
  },
  methods: {
    removeTodo() {
      this.$emit('remove-todo', this.id);
    },
    handlerDblclick() {
      this.title = this.getTitle;
      this.editing = true;
      this.$nextTick(() => document.getElementById('input').focus());
    },
    handlerSubmit() {
      this.editing = false;
      this.$emit('done-edit', this.id, this.title);
    },
    handlerInput(e) {
      this.title = e.target.value;
    },
  },
};
</script>

<style>
.title-task{
  font-size: 20px;
  width: 100%;
  user-select: none;
}
.edit-todo {
  font-size: 20px;
  width: 100%;
}
.todo {
  display: flex;
  height: 50px;
  align-items: baseline;
}
</style>
