<template>
  <div>
    <item
      v-for="(todo, index) in todos"
      :key="index"
      :todo="todo"
      :index="index"
      v-on="$listeners"
    />
  </div>
</template>

<script>
import Item from './Item.vue';

export default {
  name: 'List',
  components: {
    Item,
  },
  props: {
    todos: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
    };
  },
};
</script>

<style>
</style>
