<template>
  <container>
    <input-field
      @add-todo="addTodo"
      @done-edit="doneEdit"
    />
    <list
      :todos="todos"
      @remove-todo="removeTodo"
      @edit-todo="editTodo"
      @done-edit="doneEdit"
      @done-blur="doneEdit"
    />
  </container>
</template>

<script>
import axios from 'axios';
import List from './components/List.vue';
import Container from './components/Container.vue';
import InputField from './components/InputField.vue';

const STORAGE_KEY = 'todo-storage';
export default {
  name: 'App',
  components: {
    InputField,
    List,
    Container,
  },
  data() {
    return {
      todos: [],
      beforeEditCache: '',
    };
  },
  created() {
    this.todos = JSON.parse(localStorage.getItem(STORAGE_KEY) || '[]');
  },
  mounted() {
    axios
      .get('http://localhost:3000/todos')
      .then((response) => {
        this.todos = response.data;
      });
  },
  methods: {
    storageTodo(todo) {
      return axios
        .post('http://localhost:3000/todos', todo)
        .then(response => this.todos.push(response.data));
    },
    deleteTodo(id) {
      return axios
        .delete(`http://localhost:3000/todos/${id}`)
        .then(() => {
          this.todos = this.todos.filter(todo => todo.id !== id);
          return id;
        });
    },
    updateTodo(todo, id) {
      return axios
        .put(`http://localhost:3000/todos/${id}`, todo)
        .then((response) => {
          this.todos = this.todos.map(item => (item.id === id ? response.data : item));
          return id;
        });
    },
    addTodo(value) {
      if (!value.trim()) {
        return;
      }
      this.storageTodo({ title: value, completed: false });
      localStorage.setItem(STORAGE_KEY, JSON.stringify(this.todos));
    },
    removeTodo(index) {
      this.deleteTodo(index);
      localStorage.setItem(STORAGE_KEY, JSON.stringify(this.todos));
    },
    editTodo(id) {
      this.$set(this.todos[id], 'editing', true);
    },
    doneEdit(id, title) {
      this.updateTodo({ title, editing: false }, id);
      // const todo = this.todos[index];
      // this.$set(todo, 'editing', false);
      // this.$set(todo, 'title', title);
      localStorage.setItem(STORAGE_KEY, JSON.stringify(this.todos));
    },
  },
};
</script>
